source https://api.nuget.org/v3/index.json

storage: none
framework: net8.0

nuget DocumentFormat.OpenXml
nuget DocumentFormat.OpenXml.Framework
nuget HtmlAgilityPack
nuget SixLabors.ImageSharp.Drawing
nuget SixLabors.ImageSharp

nuget System.IO.Packaging
nuget Microsoft.NETCore.Platforms
nuget System.Collections.Immutable
nuget System.Reflection.Metadata
nuget System.Text.Encoding.CodePages

nuget IDisposableAnalyzers
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio